.env
.env.*
!.env.example
vendor
node_modules
web/wp
web/app/plugins/*
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/uploads/*
web/app/cache
exports/
.git
.gitignore
*.log
.phpunit.cache
auth.json
wp-cli.local.yml

*.md
!README.md

composer-setup.php
*.xml
screenshot.png
pint.json
phpunit.xml.dist
tests/

.vscode/
.agents/
.atl/
.phpunit.cache/
exports/
