---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---

<!DOCTYPE html>
<html lang="es_CO">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Header title={SITE_TITLE} />
    <div class="w-full relative">
      <img class="object-cover w-full h-[350px]" src="/diplomado2.jpg" alt="" />

      <div
        class="absolute top-0 w-full h-full grid place-items-center backdrop-blur-sm backdrop-brightness-50"
      >
        <h1
          class="max-w-xl text-center text-white font-semibold text-4xl drop-shadow-xl"
        >
          FORMACIÓN DOCENTE EN EDUCACIÓN VIRTUAL
        </h1>
      </div>
    </div>
    <main class="max-w-5xl mx-auto py-14">
      <div class="prose lg:prose-xl mx-auto">
        <h2>Objetivo general</h2>
        <p>
          Formar a docentes y directivos docentes en educación virtual para una
          normalización de las instituciones educativas.
        </p>
        <h2>Objetivos Específicos:</h2>
        <ul>
          <li>
            Formar a 3 mil docentes y directivos docentes en educación digital y
            virtual como estrategia de mejoramiento de la calidad educativa.
          </li>
          <li>
            Contribuir a la formación de docentes desde el saber disciplinar y
            transversal, mediante la implementación de las TIC establecido por
            el MEN y la UNESCO.
          </li>
          <li>
            Identificar los diferentes modelos instruccionales aplicables en el
            desarrollo de contenidos educativos digitales.
          </li>
          <li>
            Reconocer el rol del docente como tutor virtual, facilitador y
            mediador en el proceso de formación en espacios virtuales.
          </li>

          <li>
            Proponer un enfoque integral de la formación del ser y su medio
            ambiente.
          </li>
          <li>
            Coadyuvar en la implementación de los Objetivos de Desarrollo
            Sostenible. (ODS), del cual Colombia suscribió los compromisos hasta
            el año 2030.
          </li>
          <li>
            Presentar una opción de emprendimiento con la implementación de
            buenas prácticas ambientales para la búsqueda de la seguridad
            alimentaria.
          </li>
          <li>Conocer los aspectos del ordenamiento territorial.</li>
          <li>
            Manejar herramientas de gestión del riesgo y adaptación al cambio
            climático.
          </li>
          <li>
            Apropiar la metodología de marco lógico aplicado a la formulación de
            proyectos de emprendimiento de desarrollo sostenible.
          </li>
        </ul>

        <h2>JUSTIFICACIÓN:</h2>
        <p>
          El primer semestre de 2020 nos abrió otras oportunidades para la
          educación virtual. El virus SARS-cov-2 (Covid19) intensifico
          sustancialmente la aplicación o el uso de las nuevas tecnologías en la
          interactuación social, laboral y educativa. Se redescubrieron nuevas
          habilidades para la comunicación a través de las TIC, como una forma
          segura para comunicarse. Las limitaciones evidenciadas en esta crisis
          sanitaria (covid19), lejos de ser un problema insoluble, es la
          oportunidad para llegar a rincones insospechados en el departamento en
          la formación docente a fin de mejorar en calidad y cobertura
          educativa. La educación virtual es una estrategia fundamental para
          sacar el máximo de provecho en términos de calidad y cobertura. De
          esta manera se puede sobrepasar las metas del plan de desarrollo en el
          área de educación.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
