---
const today = new Date();
---

<footer class="bg-indigo-900 text-white">
	<div class="max-w-3xl mx-auto">
		<div class="flex justify-around py-8">

		<div>
			&copy; {today.getFullYear()} Vox Populi Corporación.
		</div>
		<div class="w-1/3 space-y-2">
			<h3 class="font-semibold">Encuéntranos</h3>
			<h3 class="font-semibold">Dirección:</h3>
			<p class="text-xs">Carrera 44D #330B-54
			Cartagena de Indias, Bolívar, Colombia</p>
			
			<h3 class="font-semibold">Horas</h3>
			<p class="text-xs"> Lunes a viernes: 9:00AM a 5:00PM
			Sábado y domingo: 9:00AM a 2</p>
		</div>
	</div>

		
	</div>
</footer>

