---
import { getPrimaryMenu } from '../lib/api';
const menuItems = await getPrimaryMenu();
---

<div class="bg-indigo-900">
  <nav class="navbar max-w-5xl mx-auto">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          {
            menuItems.map(({ uri, label }) => (
              <li>
                <a class="" href={uri}>
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="hidden lg:flex">
        <a class="btn btn-ghost normal-case text-xl" href="/">
          <img src="/logo_vpc.png" alt="Logo" class="h-10" />
        </a>
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0 text-white">
        {
          menuItems.map(({ uri, label }) => (
            <li>
              <a class="font-semibold" href={uri}>
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="navbar-center flex lg:hidden">
      <a href="/"><img src="/logo_vpc.png" alt="Logo" class="h-10" /></a>
    </div>
    <div class="navbar-end">
      <a class="btn-primary btn">Escuela</a>
    </div>
  </nav>
</div>
