---

---

<div class="">
    <div class="max-w-3xl mx-auto">
        <div class="flex items-center justify-center">
            <div class="flex flex-col lg:flex-row py-12 justify-around lg:space-x-12">
                <div class="px-4 lg:w-2/5">
                    <h1 class="text-4xl my-5 font-sans font-semibold" >
                        Escuela de liderazgo para EL HOY
                    </h1>
                    <p class="my-5 text-sm tracking-tight">Comienza, transforma o impulsa tu carrera profesional con más de 5000&nbsp;cursos, certificados profesionales y títulos de grado de universidades y empresas de nivel mundial.</p>
                    <div class="my-5">
                        <button class="border-indigo-900 border-2 bg-indigo-900 text-white rounded py-2 px-3 text-sm">Únete de forma gratuita</button>
                        
                    </div>
                </div>
                <div class="lg:w-3/5 flex lg:justify-center lg:items-center text-xs px-4 py-24 lg:p-0" >
                    <iframe class="aspect-video w-full"  src="https://www.youtube-nocookie.com/embed/0R-Dh88j2P8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>